body{
    background-color: lightsalmon !important;
}
#result{
    display: none;
}
span{
    font-weight: bolder;
}
footer{
    background-color: rgba(210, 105, 30, 0.664) ;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-block;
}